header {
    padding: 60px;
}

h1 {
    text-align: center;
}

.container {
    margin: 0 5% 0;
}

table, tr, td {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

tr {
    padding: 20px;
}

.input {
    width: 85%;
}

.save {
    width: 5%;
}


/* .past background to grey*/
/* .present background to orange*/
/* .future background to green*/