header {
    padding: 20px 0 10px;
}

h1, h2 {
    text-align: center;
}

.container {
    margin: 0 5% 0;
}

table, tr, td {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

tr {
    padding: 20px;
}

td {
    font-weight: bold;
}

.input {
    width: 85%;
}

.save {
    width: 5%;
    padding: 0 5px;
    cursor: pointer;
}


.past {
    background: #333333a9;
}

.present {
    background: rgba(255, 230, 0, 0.774);
}

.future {
    background: rgba(7, 77, 7, 0.842);
}