header {
    padding: 60px;
}

h1 {
    text-align: center;
}

.container {
    margin: 0 5% 0;
}

table, th, td {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 20px;
}